<h1>Species Found</h1>

<ul>
<% @species.each do |species| %>
    <li><a href="/species/<%= species.id %>"><%= species.name %></a></li>
<% end %>

</ul>

<a href="/species/new"><button>Add Species</button></a>

